.jumbotron {
    height: 50vh;
    clear: both;
    text-align: center;
    align-content: center;
    width: 100%;
    background-image:  linear-gradient(to top left, #373B44, #4286f4);
    opacity: .7;
    color: #fff;
    font-size: 350px;
    margin-bottom: 150px;
}