.video-background {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
}
.head-space {
  margin-top: 200px;
}
.google-books-h1 {
  color: #fff;
  margin: 50px;
  mix-blend-mode: difference;
}
#red-error {
  color: rgb(191, 0, 0);
}
.search-btn {
  background: #4286f4;
  border: none;
  color: white; 
}
.search-btn:hover {
  background: #2f69c6;
  animation-iteration-count: 1s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 280px rgba(0,0,0,.25),0 10px 100px rgba(0,0,0,.22);
  box-shadow: 0 14px 280px rgba(0,0,0,.25),0 10px 100px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}